
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles{
    <link rel="stylesheet" href="~/Areas/Student/Styles/equiz-temp.css"/>
}

@section HeadScripts{ 
    <script src="~/Areas/Student/Scripts/quizInRun.controller.js"></script>
}

<div ng-controller="quizInRunCtrl">
    <header>
        <table id='headerTable'>
            <tr>
                <td id='Menu_td'><a href="quizz_list.html">Menu</a></td>
                <td id="timer">{{timeLeftMinutes}}</td>
                <td id='User_group_td'>FullName</td>
            </tr>
        </table>
    </header>
    <hr>
    <div>
        <nav id="quizNav">
            <table>
                <tr>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Q</td>
                </tr>
            </table>
        </nav>

        <div id="questAndAnswer">
            <ul>
                <li>
                    <h2>Some question</h2>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant1
                    </p>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant2
                    </p>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant3
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <footer id="quizButtons">
        <table>
            <tr>
                <td>
                    <input type="button" value="&laquo Previous">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Next &raquo">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Finish" onclick="alert('You have just finished the quizz!')">
                </td>
                <td class="empty"></td>
            </tr>
        </table>
    </footer>
</div>

