
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles
{
    <link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
}

<h2>Hello Moderator!!!</h2>

<div>
    <a href="@Url.Action("Index", "Home", new { area = "" })">Back Home</a>
</div>