<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name="eQuizEntities" connectionString="metadata=res://*/eQuizEntities.csdl|res://*/eQuizEntities.ssdl|res://*/eQuizEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DOP-PC;initial catalog=eQuiz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
