
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section HeadStyles{
    
}

<div id='loginContent'>
    <table id="loginTbl">
        <tr>
            <td><h1>Student Login</h1></td>
            <td id='empty'></td>
            <td><a href="#"><input type="button" value="facebook" class="LoginBtn"></a></td>
            <td><a href="#"><input type="button" value="google" class="LoginBtn"></a></td>
        </tr>
    </table>
</div>

