
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div id='loginContent'>
    <table id="loginTbl">
        <tr>
            <td><h1>Login</h1></td>
            <td id='empty'></td>
            <td><a href='@Url.Action("Dashboard", "Default", new { area = "Student"})'><input type="button" value="Student" class="LoginBtn"></a></td>
            <td><input type="button" value="Moderator/Admin" class="LoginBtn"></td>
        </tr>
    </table>
</div>
